services:
  maria:
    image: mariadb:latest
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: thedebugpassword
      MARIADB_DATABASE: auth
    networks:
      - auth

networks:
  auth:
